body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background-size: cover;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

div::-webkit-scrollbar {
  width: 8px;  /* 스크롤바의 너비 */
}

div::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #ecedef; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}

div::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

button {
  font-size: 20px;
}

input{
  width: 100%;
  padding: var(--input-padding);
  display: block;
  background: 0;
  border: 0;
  border-bottom: 2px solid #fff;
  font-size: 19pt;
  color: aliceblue;
  caret-color: aliceblue;
  font-size: 2.25em;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  transition: border-color .2s ease;
}


input:focus{
  outline: none;
}
  
h2{
  font-size: 3.5rem;
  line-height: 0.5rem;
  font-weight: bold;
}

h2#clock{
  font-size: 10rem;
  letter-spacing: -3px;
}

.loginForm{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: aliceblue;
}

.content{
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: aliceblue;
  height: 100vh;
  width: 95%;
}

.userInfo{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.top{
  position: sticky;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
}
.todoDiv{
  font-size: 2rem;
  margin: 20px 0px;
  max-height: 75%;
  overflow: auto;
}
.todoDiv ul li{
  line-height: 2rem;
}
.todoDiv ul li:hover{
  color: #ff0062;
}
.todoDiv ul li .delSpan{
  cursor: pointer;
  margin-left: 10px;
  font-size: 1.5rem;
  pointer-events: auto;
}

#btnLogout{
  background: 0;
  border: 0;
  color: #f83781;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

#btnLogout:hover{
  color: #ea92b4;
}
  